<h1>{{product.id == null ? 'Add' : 'Edit'}} Product - {{product.id}}</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Product Name" [(ngModel)]="product.name" name="name">

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="product.price">

  <div class="form-group" *ngIf="product.id == null">
    <!-- only show this field on adding a product -->
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
  </div>
  <br><br>
  <button type="button" class="btn btn-success" (click)="saveProduct()">Save Product</button>
</form>